@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hoverIcons {
        @apply cursor-pointer hover:bg-bgHover rounded-full w-[20px] md:w-auto h-[52px] md:h-auto md:p-2
    }
}

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Comfortaa:wght@700&family=Newsreader:opsz@6..72&family=Open+Sans:wght@300&family=Oswald:wght@500&family=Roboto:ital,wght@0,100;1,100&display=swap');

html {
  background-color : #F0F5F6;
}

#register-tagline{
    position: relative;
    top: 450px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.login-page-background {
  background-color: rgb(102,59,194);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: rgb(235,233,245);
  box-shadow: inset;
  width: 500px;
  height: 500px;
  border-radius: 35px;
  box-shadow: 0 20px 25px 10px rgba(0,0,0,0.3);
}

.btn-close {
  display: flex;
  justify-content: end;
}

.input-form {
  background-color: rgb(255,255,255);
  opacity: 80%;
  border-radius: 10px !important;
  font-size: medium !important;
  font-weight: normal;
  font-family: sans-serif;
  color: rgb(102,59,194,0.7) !important;
}

.input-form:hover {
  background-color: none !important;
  border: none;
}

.forgot-password {
  color: #7d43e2;
  border-radius: 10px !important;
  font-size: small !important;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
}

.auth-option {
  color: #7d43e2;
  border-radius: 10px !important;
  font-size: small !important;
  font-family: sans-serif;
  text-align: center;
}

.btn-login {
  background-color: #7d43e2 !important;
  border-radius: 15px !important;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-login:hover {
  background-color: blueviolet !important;
}

.alert {
  overflow: hidden;
  position: absolute;
  width: 100vw;
}

.wrapper{
	text-align:center;
}

.wrapper #file-input{
display:none;
}

.wrapper label[for='file-input'] *{
vertical-align:middle;
cursor:pointer;
}

.wrapper label[for='file-input'] span{
margin-left: 10px
}

.wrapper i.remove{
vertical-align:middle;
margin-left: 5px;
cursor:pointer;
display:none;
}