@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.login-page-background {
  background-color: rgb(102,59,194);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: rgb(235,233,245);
  box-shadow: inset;
  width: 500px;
  height: 500px;
  border-radius: 35px;
  box-shadow: 0 20px 25px 10px rgba(0,0,0,0.3);
}

.btn-close {
  display: flex;
  justify-content: end;
}

.input-form {
  background-color: rgb(255,255,255);
  opacity: 80%;
  border-radius: 10px !important;
  font-size: medium !important;
  font-weight: normal;
  font-family: sans-serif;
  color: rgb(102,59,194,0.7) !important;
}

.input-form:hover {
  background-color: none !important;
  border: none;
}

.forgot-password {
  color: #7d43e2;
  border-radius: 10px !important;
  font-size: small !important;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
}

.auth-option {
  color: #7d43e2;
  border-radius: 10px !important;
  font-size: small !important;
  font-family: sans-serif;
  text-align: center;
}

.btn-login {
  background-color: #7d43e2 !important;
  border-radius: 15px !important;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-login:hover {
  background-color: blueviolet !important;
}

.alert {
  overflow: hidden;
  position: absolute;
  width: 100vw;
}
