<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        button:hover{
           background-color: #4bdcc9 ; 
        }

        #footer{
            position: relative;
            top: 10px;
        }

    </style>
</head>

<body style="background-color: rgb(238, 238, 238); ">

    <div id="main" style="width: 480px; height: 640px; margin: auto; margin-top: 5%; background-color:white;">

        <div style="text-align: center; background-color: #015D67; height: 120px;">
            <h1 style="padding:40px ; color: white;">Password recovery</h1>
        </div>

        <div style="padding: 45px;">
            <p>Hello {{name}}</p>
            <br>
            <br>
            <p>As you requested, here is your password recovery email. To reset your password please click the button below. If you never requested please ignore this email</p>
            <br>
            <br>
            <div style="margin: auto; text-align: center;">
                <button  style="background-color: #015D67; padding: 15px 32px; border-radius:25px; border:none; font-size: 12px; font-weight: bold; cursor: pointer; "><a style="text-decoration: none; color: white" href={{link}}>Reset Password</a> </button>
            </div>
            <br>
            <br>
            <br>
            <p>Best regards,</p>
            <br>
            <p>Sehatbos.com team</p>

        </div>

        <div id="footer" style="text-align: center; background-color:#015D67; height: 120px;"></div>

    </div>

</body>

</html>